<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rtsl.app.android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- Required -->
    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:name="com.rt.rtsl.App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rtsl">
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="2e31ee14de0ee5bc9e5cf5c2219437b4" >
        </meta-data>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:theme="@style/Theme.Rtsl.Home"
            android:name="com.rt.rtsl.ui.activity.MainActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|navigation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.rt.rtsl.ui.activity.ActivityLogin"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:screenOrientation="portrait"
            android:name="com.rt.rtsl.ui.activity.ActivityBindMobile"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name="com.rt.rtsl.ui.activity.OfficeFileViewActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|navigation|screenSize"
            />

        <activity
            android:launchMode="singleTask"
            android:name="com.rt.rtsl.ui.activity.WebViewActivity"
            android:configChanges="locale|layoutDirection|orientation|keyboardHidden|navigation|screenSize"
            />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>

        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="locale|layoutDirection|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:name" />

        <activity android:name="com.alipay.sdk.app.AlipayResultActivity" tools:node="merge">
            <intent-filter tools:node="replace">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${applicationId}"/>
            </intent-filter>
        </activity>
    </application>

</manifest>